.page-wrapper {
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
}

.page-navigation__wrapper {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.app-name {
    font-family: var(--primary-font-family);
    font-size: var(--medium-font-size);
}

.page-navigation {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: var(--primary-font-family);
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--black-color);
}

.get-started {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: solid 2px var(--primary-color);
    border-radius: 2px;
}

.get-started:hover {
    background-color: var(--white-color);
    color: var(--primary-color)
}

.main__wrapper {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_motto {
    font-family: var(--primary-font-family);
}

.routes-wrapper {
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-family: var(--primary-font-family);
}

.route-link {
    text-decoration: none;
    color: var(--primary-color);
    width: 100px;
    padding: 10px 0;
    border-radius: 4px;
    text-align: center;
}

.route-link:nth-child(1) {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    color: var(--white-color)
}

.route-link:nth-child(1):hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.route-link:nth-child(2) {
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
} 

.route-link:nth-child(2):hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

@media screen and (max-width:600px){
    .page-navigation__wrapper {
        padding: 20px;
        justify-content: space-between;
    }
}