.button-wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: var(--regular-font-size);
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    border: solid 1px var(--primary-color);
    font-family: var(--primary-font-color);
}

.button-wrapper:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}