.chat-room__wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 10% 80% 10%;
}

.chat-room__header {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px var(--alice-blue-color);
}

.chat-room__header .contact-name {
    font-family: var(--secondary-font-family);
    font-weight: bold;
}

.chat-room__header .header-controls {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.chat-room__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--alice-blue-color);
}

.message-send__form {
    width: 70%;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    gap: 5px;
}

.message-send__form input[type="text"] {
    padding: 10px;
    border: solid 1px #000;
    font-family: var(--primary-font-family);
}

.message-send__form [type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: var(--alice-blue-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.message-send__form [type="submit"]:hover {
    background-color: var(--alice-blue-color);
    color: var(--secondary-color);
}