.chat-bar__wrapper {
    display: flex;
    gap: 0 10px;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.chat-contact__name {
    font-family: var(--territary-font-family);
    font-size: 14px;
    font-weight: 400;
}

.chat-bar__wrapper:hover, .contact-selected {
    background-color: var(--white-color);
}

.chat-bar__wrapper input {
    display: none;
}