.form-wrapper {
    width: 400px;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 2px;
}

.form {
    font-family: var(--primary-font-family);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 12px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

input[type='checkbox']:checked + span{
    color: var(--secondary-color);
}

@media screen and (max-width:450px) {
    .form-wrapper {
        width: 90vw;
    }
}