.toast-wrapper {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 200px;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--white-color);
    z-index: 999;
    font-size: 11px;
    text-align: center;
    font-family: var(--secondary-font-family);
}

.success {
    background-color: var(--green-color);
}

.failure {
    background-color: var(--red-color);
}

.information {
    background-color: var(--primary-color);
}