@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Source+Sans+Pro&display=swap'); 

:root {
  --regular-font-size: 16px;
  --medium-font-size: 20px;
  --large-font-size: 24px;
  --primary-font-family: 'Source Sans Pro', sans-serif;
  --secondary-font-family: 'Poppins', sans-serif;
  --territary-font-family: 'Inter', sans-serif;
  --chat-font-family: 'Source Sans Pro', sans-serif;
  --text-color: #1B262C;
  --primary-color: #0F4C75;
  --secondary-color: #3282B8;
  --bg-color: #BBE1FA;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --border-color: #1B262C;
  --red-color: #f44336;
  --green-color: #2e7d32;
}

.container {
  margin: 30px auto;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.qr-wrapper img {
  width: 100%;
  height: 100%;
}

.verify-form__wrapper {
  font-size: 13px;
  line-height: 24px;
}

.verify-form__wrapper form {
  display: flex;  
  flex-direction: column;
  gap: 10px;
}

.verify-form__wrapper form ol {
  list-style: none;
}

.verify-form__wrapper form [type="text"] {
  outline: none;
  border: solid 1px #000;
  padding: 10px;
}

.verify-form__wrapper form [type="submit"] {
  outline: none;
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 700px){
  .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}